.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DM+Sans:wght@400;500;700&display=swap');

.font-primary {
  font-family: 'DM Sans', sans-serif;
}

.font-secondary {
  font-family: 'Concert One', cursive;
}
